$color1: #0a043c;
$color2: #03506f;
$color3: #bbbbbb;
$color4: #ffe3d8;
$color5: #f4f4f2;
$color6: #e8e8e8;
$color7: #bbbfca;
$color8: #495464;

//bp
$bp--1400: 87.5em;
$bp--1200: 74.98em;
$bp--992: 61.98em;
$bp--767: 47.98em;
$bp--576: 35.98em;
$bp--361: 22.98em;
// @media only screen and (max-width: $bp--1200) {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 1.2rem;
  color: $color2;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
.active {
  border-radius: 25px;
  background: $color2;
}
