$color1: #383874;
$color2: #e13c04;
$color3: #ff6225;
$color4: #16989a;
$color5: #20c4c6;
$color6: #87bfbc;
$color7: #eaf8f8;
$color8: #ffffff;
//$color9: #b27e59;
$color9: #b27e59c9;

//bp
$bp--1920: 120.1em;
$bp--1440: 90.1em;
$bp--1200: 75.1em;
$bp--992: 62.1em;
$bp--767: 48.1em;
$bp--576: 36.1em;
$bp--361: 22.5em;
$bp--320: 20.1em;
// @media only screen and (max-width: $bp--1200) {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media only screen and (min-width: $bp--1920) {
    font-size: 65%;
  }
  @media only screen and (max-width: $bp--1440) {
    font-size: 60%;
  }
  @media only screen and (max-width: $bp--1200) {
    font-size: 53%;
  }
  @media only screen and (max-width: $bp--992) {
    font-size: 40%;
  }
  @media only screen and (max-width: $bp--767) {
    font-size: 38%;
  }
  @media only screen and (max-width: $bp--576) {
    font-size: 34%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  height: 100vh;
  color: $color1;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
.active {
  border-radius: 5px;
  background: $color4 !important;
  color: $color8 !important;
  border: 2px solid $color8;
  transition: all 0.5s !important;
  &:hover {
    background: $color8 !important;
    color: $color4 !important;
    border: 2px solid $color4;
  }
}
