.gallery {
  @include flexCenter;
  &__wrap {
    width: 140rem;
    @include flexCenter;
    flex-direction: column;
  }
  &__boxwrap {
    @include flexCenter;
    width: 80%;
    flex-wrap: wrap;
  }
  &__box {
    @include flexCenter;
    width: 30rem;
    height: 35rem;
    margin: 2rem;
    background: $color7;
    flex-direction: column;
    //border: 5px solid $color4;
    border: 5px solid $color9;
    //border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.336);
  }
  &__cardwrap {
    position: relative;
    width: 95%;
    height: 20rem;
    margin: 2rem;
  }
  &__card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__image {
    width: 100%;
    height: 100%;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #16989aa8;
    opacity: 0;
    transition: all 0.5s;
    &:hover {
      opacity: 1;
    }
  }
  &__content {
    @include flexCenter;
    width: 100%;
    height: 100%;
  }
  &__description {
    width: 95%;
  }
  &__a {
    display: block;
    margin: 2rem;
  }
  &__icon {
    font-size: 5rem;
    color: $color8;
    transition: all 0.5s;
    &:hover {
      color: $color3;
    }
  }
  &__h3 {
    font-size: 2rem;
    color: $color1;
  }
  &__p {
    height: 6rem;
  }
  // &__p2 {
  // }
}
